{# src/GBE/PresentationBundle/Resources/Media/media.html.twig #}

{% extends "GBEPresentationBundle::Presentation_general.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'media.titles.media' | trans }}
{% endblock %}

{% block GBE_Presentation_body %}

	<!-- BEGIN leftbar -->
      {% include 'includes/leftbar.html.twig' %}
    <!-- END leftbar -->

	<!-- BEGIN CONTENT -->
	<div class="col-md-8 page-content" id="page-content">  <!-- Must have a col-md-8 -->
		<!-- BEGIN CONTENT -->
		<div id="content" class="content">

			<div>
				<a href="{{ path('gbe_presentation_contact') }}" class="btn btn-perso float-right">
			    	{{ 'index.actions.askForMore'|trans }}
			     	<i class="fa fa-sign-in"></i>
			    </a>
			</div>

			<h2>
				{{ 'media.titles.media'|trans }}
			</h2>
			<hr/>

			<div class="center">

				{{ 'index.content.numberOfParticipants'|trans }}
				{% set number_of_participants = 0 %}
				{% for member in members %}
					{% if member.routes %}
						{% set number_of_participants = number_of_participants + 1 %}
					{% endif %}
				{% endfor %}
				<strong>
					{{ number_of_participants }}
				</strong>

				<hr/ style="width:40%; margin-left:30%;">

				{% if routes|length > 0 %}
					{% set index_route = 0 %}
					{% for route in routes %}
						<div class="row">
							<div class="col-md-2">
							</div>
							<div class="col-md-2 left margin_left_10">
								<strong>
									{{ 'route.content.step'|trans }} {{ route.id }}
								</strong>
							</div>
							<div class="col-md-1 left">
								-
							</div>
							<div class="col-md-3 left">
								{{ route.name }}
							</div>
							<div class="col-md-1 left">
								-
							</div>
							<div class="col-md-3 left">
								{% set nb_part_p_rte = 0 %}
								{% for team in membersByRoute %}
									{% for member in team %}
										{% if member.routes == route %}
											{% set nb_part_p_rte = nb_part_p_rte + 1 %}
										{% endif %}
									{% endfor %}
								{% endfor %}

								{{ nb_part_p_rte }}
							</div>

						</div>

						{% set index_route = index_route + 1 %}
					{% endfor %}
				{% endif %}

			</div>

			<div class="row margin0">
				<h3>
					Documents
				</h3>

				<div class="row margin_bottom_10">
					<div class="col-md-6 right">
						Affiche principale
					</div>
					<div class="col-md-6">
						<a href="{{ asset('img/system/affiche.jpg') }}" class="btn-perso no_style_a font10">
							{{ 'media.actions.download'|trans }}
						</a>
					</div>
				</div>
				<div class="row margin_bottom_10">
					<div class="col-md-6 right">
						Bannière
					</div>
					<div class="col-md-6">
						<a href="{{ asset('img/system/banniere.jpg') }}" download class="btn-perso no_style_a font10">
							{{ 'media.actions.download'|trans }}
						</a>
					</div>
				</div>
				<div class="row margin_bottom_10">
					<div class="col-md-6 right">
						Logo <strong><a href="http://defi.enfantsdumekong.com/events/grande-boucle-etudiante"> Défi du mékong </a> </strong>
					</div>
					<div class="col-md-6">
						<a href="{{ asset('img/system/defi_mekong.png') }}" class="btn-perso no_style_a font10">
							{{ 'media.actions.download'|trans }}
						</a>
					</div>
				</div>
				<div class="row margin_bottom_10">
					<div class="col-md-6 right">
						Logo <strong> <a href="http://www.enfantsdumekong.com"> Enfants du mékong </a></strong>
					</div>
					<div class="col-md-6">
						<a href="{{ asset('img/system/enfants_mekong.png') }}" class="btn-perso no_style_a font10">
							{{ 'media.actions.download'|trans }}
						</a>
					</div>
				</div>
			</div>

			<div class="row margin0">
				<h3>
					Exemple de texte:
				</h3>

				<p class="paragraph">
					La <strong>Grande Boucle Etudiante</strong> fait son entrée cette année parmi les défis récurents de <strong><a href="http://defi.enfantsdumekong.com/events/grande-boucle-etudiante"> Défi du Mékong </a> </strong>, à but caritatif. Les coureurs sont invités à inviter leurs amis, connaissances et proches à participer à une collecte de fonds. 
				</p>
				<p class="paragraph">
					Les étudiants qui se lancent dans l'aventure ont pour seule motivation de venir en aide aux enfants d'Asie Sud Est, et surtout à leur éducation. L'argent récolté permet aux équipes sur place de construire des écoles. Chaque école ne coûte que <strong>30,000€</strong>. Tous ceux qui sont encouragés à participer au développements de ces populations vivant dans la pauvreté, dont les revenus ne permettent pas une éducation saine de leurs enfants, s'en voient grandis. 
				</p>
				<p class="paragraph">
					Alors n'hésitez pas à venir les suivre en direct sur leur site officel <a href="http://www.grande-boucle-etudiante.fr">www.grande-boucle-etudiante.fr</a>, ainsi qu'à les aider dans cette démarche.
				</p>
				<p class="paragraph">
					C'est la première édition du challenge. 
				</p>

			</div>

			
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTENT -->

	<!-- BEGIN rightbar -->
      {% include 'includes/rightbar.html.twig' %}
    <!-- END rightbar -->

{% endblock GBE_Presentation_body %}