{# src/GBE/PresentationBundle/Resources/Media/partners.html.twig #}

{% extends "GBEPresentationBundle::Presentation_general.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'partners.titles.partners' | trans }}
{% endblock %}

{% block GBE_Presentation_body %}

	<!-- BEGIN leftbar -->
      {% include 'includes/leftbar.html.twig' %}
    <!-- END leftbar -->

	<!-- BEGIN CONTENT -->
	<div class="col-md-8 page-content">  <!-- Must have a col-md-8 -->
		<!-- BEGIN CONTENT -->
		<div class="content">

			<div>
				<a href="{{ path('gbe_presentation_contact') }}" class="btn btn-perso float-right">
			    	{{ 'index.actions.becomePartner'|trans }}
			     	<i class="fa fa-sign-in"></i>
			    </a>
			</div>

			<h2>
				{{ 'partners.titles.partners'|trans }}
			</h2>
			<hr/>

			<!-- <div class="center">
				{# 'partners.default.waitingMessage'|trans #}
			</div> -->

			<div class="col-md-12">
				<h3>
			    	Solustop
			    </h3>
				<div class="col-md-2">
					<a href="http://www.solustop.com" target="_blank" class="no_style_a">
						<img src="{{ asset('img/media/solustop.png') }}" alt="Solustop" class="media_img_main"/> 
		    		</a>
				</div>
				<div class="col-md-10">
					La <strong>Grande Boucle Etudiante</strong> remercie <a href="http://www.solustop.com" target="_blank" class=""><strong>Solustop</strong></a>, fournisseur de matériel de géo-localisation (GPS), son premier partenaire officiel, qui les a rejoint le <strong>18 Septembre 2014</strong>. 
					<br/>
					En route pour l'aventure !
				</div>
			</div>

			<!-- 
			<div class="col-md-12">
				<h3>
			    	RedBull
			    </h3>
				<div class="col-md-2">
					<a href="http://www.solustop.com" target="_blank" class="no_style_a">
						<img src="{# asset('img/media/redbull.jpg') #}" alt="Solustop" class="media_img_main"/> 
		    		</a>
				</div>
				<div class="col-md-10">
					La <strong>Grande Boucle Etudiante</strong> remercie <a href="http://www.redbull.com/" target="_blank" class=""><strong>RedBull</strong></a>, producteur de boisson énergisante, son deuxième partenaire officiel, qui les a rejoint le <strong>1er Octobre 2014</strong>. 
					<br/>
					<a href="http://www.redbull.com/" target="_blank" class=""><strong>RedBull</strong></a> fournit 70 cannettes pour le départ !
				</div>
			</div>
			 -->
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTENT -->

	<!-- BEGIN rightbar -->
      {% include 'includes/rightbar.html.twig' %}
    <!-- END rightbar -->

{% endblock GBE_Presentation_body %}