{# src/GBE/PresentationBundle/Resources/Presentation/contact.html.twig #}

{% extends "GBEPresentationBundle::Presentation_general.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'contact.titles.contact' | trans }}
{% endblock %}

{% block GBE_Presentation_body %}

	<!-- BEGIN leftbar -->
      {% include 'includes/leftbar.html.twig' %}
    <!-- END leftbar -->

	<!-- BEGIN CONTENT -->
	<div class="col-md-8 page-content">  <!-- Must have a col-md-8 -->
		<!-- BEGIN CONTENT -->
		<div class="content">

			<h2>
				{{ 'contact.titles.contact'|trans }}
			</h2>
			<hr/>

			<form action="{{ path('gbe_presentation_send') }}" method="post" {{ form_enctype(formEmail) }}>
				
				<h3>
					{{ 'contact.content.sender'|trans }}
				</h3>
					<div class="col-md-6">
						{% set senderName_title = 'contact.content.name' | trans %}
						{{ form_label(formEmail.senderName, senderName_title, 
							{'label_attr': {'class': ''}}) }}
						{{ form_errors(formEmail.senderName) }}
						<div class="input">
				        	<i class="fa fa-pencil"></i>
				        	{% set opt_senderName = {'attr': {'class': 'form-control placeholder-no-fix',
				        		'type':'text', 'placeholder':'Jean Dupont', 'name':'_senderName' }} %}
				        	{{ form_widget(formEmail.senderName, opt_senderName) }}
				        </div>
					</div>

					<div class="col-md-6">
						{% set sender_title = 'contact.content.email' | trans %}
						{{ form_label(formEmail.sender, sender_title, 
							{'label_attr': {'class': ''}}) }}
						{{ form_errors(formEmail.sender) }}
						<div class="input">
				        	<i class="fa fa-pencil"></i>
				        	{% set opt_sender = {'attr': {'class': 'form-control placeholder-no-fix',
				        		'type':'text', 'placeholder':'jean.dupont@email.zone', 'name':'_sender' }} %}
				        	{{ form_widget(formEmail.sender, opt_sender) }}
				        </div>
					</div>

					<br/><br/><br/>
				
				<h3>
					{{ 'contact.content.message'|trans }}
				</h3>
					<div class="form-group row">
						{% set object_title = 'contact.content.object' | trans %}
						{{ form_label(formEmail.object, object_title, 
							{'label_attr': {'class': ''}}) }}
						{{ form_errors(formEmail.object) }}
						<div class="input">
				        	<i class="fa fa-pencil"></i>
				        	{% set opt_object = {'attr': {'class': 'form-control placeholder-no-fix',
				        		'type':'text', 'placeholder':object_title, 'name':'_object' }} %}
				        	{{ form_widget(formEmail.object, opt_object) }}
				        </div>
					</div>

					<div class="form-group row">
						{% set content_title = 'contact.content.content' | trans %}
						{{ form_label(formEmail.content, content_title, 
							{'label_attr': {'class': ''}}) }}
						{{ form_errors(formEmail.content) }}
						<div class="input">
				        	<i class="fa fa-pencil"></i>
				        	{% set opt_content = {'attr': {'class': 'form-control placeholder-no-fix',
				        		'type':'textarea', 'placeholder':content_title, 'name':'_content',
				        		'rows':'10' }} %}
				        	{{ form_widget(formEmail.content, opt_content) }}
				        </div>
					</div>

				<input id="send_email" type="submit" value="{{ 'contact.actions.send'|trans }}" class="btn btn-perso float-right"/>
			</form>
			
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTENT -->

	<!-- BEGIN rightbar -->
      {% include 'includes/rightbar.html.twig' %}
    <!-- END rightbar -->

{% endblock GBE_Presentation_body %}