{# src/GBE/PresentationBundle/Resources/Route/route.html.twig #}

{% extends "GBEPresentationBundle::Presentation_general.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'route.titles.route' | trans }}
{% endblock %}

{% block GBE_Presentation_body %}

	<!-- BEGIN leftbar -->
      {% include 'includes/leftbar.html.twig' %}
    <!-- END leftbar -->

	<!-- BEGIN CONTENT -->
	<div class="col-md-8 page-content">  <!-- Must have a col-md-8 -->
		<!-- BEGIN CONTENT -->
		<div class="content">

			<h2>
				{{ 'route.titles.route'|trans }}
			</h2>
			<hr/>
			
			{% if routes|length > 0 %}
				{% set index_route = 0 %}
				{% for route in routes %}
					<div class="single_route">
						<h3>
							{{ 'route.content.step'|trans }} {{ route.routeNumber }}. {{ route.name }}
						</h3>

						<div class="row">
							<div class="col-md-6">
								<img src="{{ asset(route.url) }}" alt="{{ route.alt }}" class="route_img"/>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-5 right bold">
										{{ 'route.content.startCity'|trans }}
									</div>
									<div class="col-md-7 left">
										{{ route.startCity }}
									</div>
								</div>
								<div class="row">
									<div class="col-md-5 right bold">
										{{ 'route.content.endCity'|trans }}
									</div>
									<div class="col-md-7 left">
										{{ route.endCity }}
									</div>
								</div>

								<hr/>

								<div class="row">
									<div class="col-md-5 right bold">
										{{ 'route.content.length'|trans }}
										<br/>
										{{ 'route.content.heightPos'|trans }}
										<br/>
										{{ 'route.content.heightNeg'|trans }}
									</div>
									<div class="col-md-3 left">
										{{ route.length }}
										<br/>
										{{ route.heightPos }}
										<br/>
										{{ route.heightNeg }}
									</div>
									<div class="col-md-4 right">
										<div>
											{% set number_participants = 0 %}
											{% for member in members %}
												{% if member.team %}
													{% if member.team.teamNumber == route.routeNumber %}
														{% set number_participants = number_participants + 1 %}
													{% endif %}
												{% endif %}
											{% endfor %}

											{% if number_participants < 4 %}
												{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
													{% if app.user.routes %}
														<div>
															<a href="{{ path('gbe_user_team_see', {'teamId':route.routeNumber}) }}" class="btn btn-perso float-right">
														    	{{ 'team.actions.see'|trans }}
														     	<i class="fa fa-sign-in"></i>
														    </a>
														</div>
														<div>
															<a href="http://defi.enfantsdumekong.com/events/grande-boucle-etudiante" target="_blank" class="btn btn-perso float-right warning_btn">
														    	{{ 'team.actions.help'|trans }}
														     	<i class="fa fa-sign-in"></i>
														    </a>
														</div>
													{% else %}
														<a href="
															{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
																{{ path('gbe_user_selectRoute', {'routeId' : route.routeNumber}) }}
															{% else %}
																{{ path('fos_user_registration_register') }}
															{% endif %}
																" class="btn btn-perso float-right btn_route">
													    	{{ 'index.actions.join'|trans }}
													     	<i class="fa fa-sign-in"></i>
													     	<span>
																{% if number_participants > 0 %}
																	{% for member in members %}
																		{% if member.team %}
																			{% if member.team.teamNumber == route.routeNumber %}
																				{% if member.firstName|length > 0 %}
																					{{ member.firstName }}
																					{% if member.lastName|length > 0 %}
																						{{ member.lastName }}
																					{% endif %}
																				{% else %}
																					{{ member.email }}
																				{% endif %}
																				<br/>
																			{% endif %}
																		{% endif %}
																	{% endfor %}
																{% else %}
																	(Vide)
																{% endif %}
															</span>
													    </a>
													    <div>
															<a href="{{ path('gbe_user_team_see', {'teamId':route.routeNumber}) }}" class="btn btn-perso float-right">
														    	{{ 'team.actions.see'|trans }}
														     	<i class="fa fa-sign-in"></i>
														    </a>
														</div>
														<div>
															<a href="http://defi.enfantsdumekong.com/events/grande-boucle-etudiante" target="_blank" class="btn btn-perso float-right warning_btn">
														    	{{ 'team.actions.help'|trans }}
														     	<i class="fa fa-sign-in"></i>
														    </a>
														</div>
													{% endif %}
												{% else %}
													{# Participate button
													<a href="
														{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
															{{ path('gbe_user_selectRoute', {'routeId' : route.routeNumber}) }}
														{% else %}
															{{ path('fos_user_registration_register') }}
														{% endif %}
															" class="btn btn-perso float-right">
												    	{{ 'index.actions.join'|trans }}
												     	<i class="fa fa-sign-in"></i>
												    </a>
												    #}
												    <div>
														<a href="{{ path('gbe_user_team_see', {'teamId':route.routeNumber}) }}" class="btn btn-perso float-right">
													    	{{ 'team.actions.see'|trans }}
													     	<i class="fa fa-sign-in"></i>
													    </a>
													</div>
													<div>
														<a href="http://defi.enfantsdumekong.com/events/grande-boucle-etudiante" target="_blank" class="btn btn-perso float-right warning_btn">
													    	{{ 'team.actions.help'|trans }}
													     	<i class="fa fa-sign-in"></i>
													    </a>
													</div>
												{% endif %}
											{% else %}
												<button class="btn float-right btn_full">
													{{ 'route.titles.full'|trans }}
													<span>
														{% if number_participants > 0 %}
															{% for member in members %}
																{% if member.team %}
																	{% if member.team.teamNumber == route.routeNumber %}
																		{% if member.firstName|length > 0 %}
																			{{ member.firstName }}
																			{% if member.lastName|length > 0 %}
																				{{ member.lastName }}
																			{% endif %}
																		{% else %}
																			{{ member.email }}
																		{% endif %}
																		<br/>
																	{% endif %}
																{% endif %}
															{% endfor %}
														{% else %}
															(Vide)
														{% endif %}
													</span>
												</button>
												<div>
													<a href="http://defi.enfantsdumekong.com/events/grande-boucle-etudiante" target="_blank" class="btn btn-perso float-right warning_btn">
												    	{{ 'team.actions.help'|trans }}
												     	<i class="fa fa-sign-in"></i>
												    </a>
												</div>
											{% endif %}
											<br/>
											<br/>
											<div class="float-right bold">
												{{ number_participants }} {{ 'route.titles.people'|trans }}
											</div>
										</div>
									</div>
								</div>
								
								<hr/>

								<div class="row">
									<div class="col-md-5 right bold">
										{{ 'route.content.startDate'|trans }}
									</div>
									<div class="col-md-7 left">
										{{ route.startDate|date('d M Y') }} - {{ route.startDate|date('H:i') }}
									</div>
								</div>
								<div class="row">
									<div class="col-md-5 right bold">
										{{ 'route.content.endDate'|trans }}
									</div>
									<div class="col-md-7 left">
										{{ route.endDate|date('d M Y') }} - {{ route.endDate|date('H:i') }}
									</div>
								</div>
								
							</div>
						</div>
						{% if (index_route != 10) %}
						<hr/>
						{% endif %}
					</div>
					{% set index_route = index_route + 1 %}
				{% endfor %}
			{% endif %}
			
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTENT -->

	<!-- BEGIN rightbar -->
      {% include 'includes/rightbar.html.twig' %}
    <!-- END rightbar -->

{% endblock GBE_Presentation_body %}