{# src/GBE/PresentationBundle/Resources/Photos/addPhotos.html.twig #}

{% extends "GBEPresentationBundle::Presentation_general.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'index.actions.addPhotos' | trans }}
{% endblock %}

{% block GBE_Presentation_body %}

	<!-- BEGIN leftbar -->
      {% include 'includes/leftbar.html.twig' %}
    <!-- END leftbar -->

	<!-- BEGIN CONTENT -->
	<div class="col-md-8 page-content" id="page-content">  <!-- Must have a col-md-8 -->
		<!-- BEGIN CONTENT -->
		<div id="content" class="content">

			<div>
				<a href="{{ path('gbe_presentation_homepage') }}" class="btn btn-perso float-right">
	              	{{ 'user.actions.home'|trans }}
	              	<i class="fa fa-sign-in"></i>
	            </a>
			</div>

			<h2>
				{{ 'index.actions.addPhotos'|trans }}
			</h2>
			<hr/>

			<form method="post" {{ form_enctype(formNewPhoto) }}>
				{% if form_errors(formNewPhoto) %}
                    <div class="error_message">
                      	<span class="warning_word">
                        	{{ 'user.warning.warning'|trans }}
                      	</span>
                      	<span class="warning_message">
                        	{{ form_errors(formNewPhoto) }}
                      	</span>
                    </div>
                    <br/>
                {% endif %}
				<div class="edit_profile">
					<div class="form-group row">
						{% if form_errors(formNewPhoto.route) %}
		                    <div class="error_message">
		                      	<span class="warning_word">
		                        	{{ 'user.warning.warning'|trans }}
		                      	</span>
		                      	<span class="warning_message">
		                        	{{ form_errors(formNewPhoto.route) }}
		                      	</span>
		                    </div>
		                    <br/>
		                {% endif %}
						{% set select_title = 'photos.titles.selectRoute' | trans %}
						{{ form_label(formNewPhoto.route, select_title, 
							{'label_attr': {'class': 'control-label'}}) }}
						<div class="input-icon">
				        	{{ form_widget(formNewPhoto.route) }}
				        </div>
					</div>

					<div class="form-group row">
						{% if form_errors(formNewPhoto.file) %}
		                    <div class="error_message">
		                      	<span class="warning_word">
		                        	{{ 'user.warning.warning'|trans }}
		                      	</span>
		                      	<span class="warning_message">
		                        	{{ form_errors(formNewPhoto.file) }}
		                      	</span>
		                    </div>
		                    <br/>
		                {% endif %}
						{% set name_title = 'photos.titles.selectPhoto' | trans %}
						{{ form_label(formNewPhoto.file, name_title, 
							{'label_attr': {'class': 'control-label'}}) }}
						<div class="input-icon">
				        	{{ form_widget(formNewPhoto.file) }}
				        </div>
					</div>

					<div class="row">
						<div class="col-md-3">
						</div>
						<div class="col-md-6">
							{{ 'user.warning.fileMustBe' | trans }}
							<ul>
								<li>{{ 'user.warning.under1Mo' | trans }}</li>
								<li>{{ 'user.warning.square' | trans }}</li>
							</ul>
						</div>
						<div class="col-md-3">
						</div>
					</div>


					<div>
						<br/><br/>
					</div>

					<a href="{{ path('gbe_presentation_photos') }}" class="btn btn-perso float-left cancel_button">
						{{ 'user.actions.back' | trans }}
					</a>
					<input type="submit" class="btn btn-perso  float-right validate_button"  
						value="{{'user.actions.save' | trans }}"/>
				</div>

				<!-- Le reste du formulaire :) -->
				{{ form_widget(formNewPhoto) }}
			</form>
			
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTENT -->

	<!-- BEGIN rightbar -->
      {% include 'includes/rightbar.html.twig' %}
    <!-- END rightbar -->

{% endblock GBE_Presentation_body %}