{# src/GBE/PresentationBundle/Resources/Photos/photos.html.twig #}

{% extends "GBEPresentationBundle::Presentation_general.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'photos.titles.photos' | trans }}
{% endblock %}

{% block GBE_Presentation_body %}

	<!-- BEGIN leftbar -->
      {% include 'includes/leftbar.html.twig' %}
    <!-- END leftbar -->

	<!-- BEGIN CONTENT -->
	<div class="col-md-8 page-content">  <!-- Must have a col-md-8 -->
		<!-- BEGIN CONTENT -->
		<div class="content center">

			<div>
				<a href="{{ path('gbe_presentation_add_photos') }}" class="btn btn-perso float-right">
			    	{{ 'index.actions.addPhotos'|trans }}
			    </a>
			</div>

			<h2>
				{{ 'photos.titles.photos'|trans }}
			</h2>
			<hr/>

			{% set index_route = 0 %}
			{% for route in routes %}
				<div class="col-md-3 routes_selection center" onClick="goToRoutes('{{route.id}}')">
					<h3>
						{{ 'route.content.step'|trans }} {{ route.routeNumber }}
					</h3>
					<hr style="width:70%;"/>

					{{ route.startCity }} - {{ route.endCity }}
					
					{% if photos[index_route]|length > 0 %}
						{% set photo_array = photos[index_route] %}
						{% set photo = photo_array[0] %}
						<div class="col-md-12 photo_souvenir"
							style="width: 100%; background-image: url('{{ asset(photo.webPath) }}'); background-size: cover; background-position: 50%;">
							<script type="text/javascript">
								var cw = $('.photo_souvenir').width();
								$('.photo_souvenir').css({'height':cw+'px'});
							</script>
						</div>
					{% else %}
						<div class="col-md-12 photo_souvenir"
							style="width: 100%; background-image: url('{{ asset('img/photos/default_img.png') }}'); background-size: cover; background-position: 50%; opacity:0.5;">
							<script type="text/javascript">
								var cw = $('.photo_souvenir').width();
								$('.photo_souvenir').css({'height':cw+'px'});
							</script>
						</div>
					{% endif %}
				</div>
				{% set index_route = index_route + 1 %}
			{% endfor %}

			<script type="text/javascript">
				function goToRoutes(routeId)
				{
					var routeToGo =  "{{ path('gbe_presentation_photos_routes', {'routesId':'00000'}) }}";
					window.location = routeToGo.replace('00000',routeId);
				}
			</script>
			
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTENT -->

	<!-- BEGIN rightbar -->
      {% include 'includes/rightbar.html.twig' %}
    <!-- END rightbar -->

{% endblock GBE_Presentation_body %}