{# src/GBE/PresentationBundle/Resources/views/Register/registration.email.html.twig #}

{% block subject %}
{% autoescape false %}
[GBE] Bienvenu dans l'équipe !
{% endautoescape %}
{% endblock %}

{% block body_text %}
{% autoescape false %}

Salut {% if user.firstName %}{{ user.lastName }}{% else %}{{ user.username }}{% endif %},

Peux-tu confirmer que c'est bien ton adresse email en cliquant sur le lient suivant ?
{{ confirmationUrl }}

Cordialement,
La GBE Team

{% endautoescape %}
{% endblock %}

{% block body_html %}
{#
    You can of course render the html directly here.
    Including a template as done here allows keeping things DRY by using
    the template inheritance in it
#}

<div style="
color: rgb(50,50,50);
width:94%;
margin-left:3%;
margin-top:5px;
border:1px solid white;
padding:10px;
background-color: rgba(150,150,150, 0.1);">

	<div style="text-align:center; ">
		<h2 style="color:rgba(77,137,39,0.8);">
			Bienvenu dans l'équipe !
		</h2>	
		<hr/>
	</div>

	<div style="text-align:left; padding:10px;">
		Salut <strong>{% if user.firstName %}{{ user.lastName }}{% else %}{{ user.username }}{% endif %}</strong>,
		<br/><br/>
		Peux-tu confirmer que c'est bien ton adresse email en cliquant sur le lient suivant ?
		<br/><br/>

		<div style="text-align:center;">
			<a href="{{ confirmationUrl }}" style="
												font-size:12px;
												text-decoration:none;
												padding: 5px;
												background-color: rgba(77,137,39,0.8);
												border: 1px solid white;
												border-radius: 0;
												color: white;">
				Lien de confirmation
			</a>
		</div>
		
		
		<br/>
		Cordialement,<br/>
		<strong>
			La Team de la Grande Boucle Etudiante
		</strong>
	</div>
</div>

<!-- <img src="{# asset('img/system/banniere.jpg') #}" style="width:90%; margin-left:5%;"/> -->

{% endblock %}