{# src/GBE/PresentationBundle/Resources/Presentation/bio.html.twig #}

{% extends "GBEPresentationBundle::Presentation_general.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'bio.titles.bio' | trans }}
{% endblock %}

{% block GBE_Presentation_body %}

	<!-- BEGIN leftbar -->
      {% include 'includes/leftbar.html.twig' %}
    <!-- END leftbar -->

	<!-- BEGIN CONTENT -->
	<div class="col-md-8 page-content">  <!-- Must have a col-md-8 -->
		<!-- BEGIN CONTENT -->
		<div class="content">

			<h2>
				{{ 'bio.titles.bio'|trans }}
			</h2>
			<hr/>

			<h3>
				{{ 'bio.titles.team2014'|trans }}
			</h3>
			<p class="paragraph_bio">
				La Grande Boucle Etudiante est portée par une équipe soudée et sur motivée. Tous membre du même groupe d’amis au sein de l’EMLYON, ils cultivent un esprit du défi permanent et de l’aventure à grande échelle dans leurs challenges et leur vie quotidienne. C’est l’esprit Paskis, du nom de leur liste pour la campagne Ski Club 2013, les Paskis Givrés. Aujourd’hui dans différentes associations, ils ont su se retrouver et se regrouper autour de projets d’envergure comme la Grande Boucle Etudiante. 
			</p>

			<h4 class="margin_left_10">
				Les Cerveaux de la Première Heure :
			</h4>

			<div class="row member_org">
				<div class="col-md-1">
				</div>
				<div class="col-md-2">
					<img alt="Ausgustin Destremau" title="Ausgustin Destremau" 
					src="{{ asset('img/profile/who1.png') }}" class="member_org_img"/>
				</div>
				<div class="col-md-9">
					<h5>Augustin Destremau</h5>
					<p class="paragraph_bio">
						Sans aucun doute le plus fou de tous les Paskis, Augustin est une véritable boule d’énergie qui ne trouve jamais le repos. Fan de kite-surf, parachutisme et funambulisme, il était le <strong>responsable du tracé du Raid Hannibal 2014.</strong> Sportif accompli, il porte le projet de la Grande Boucle depuis le commencement. Il est notamment en charge du parcours et des relations avec Enfants du Mékong. 
					</p>
				</div>
			</div>

			<div class="row member_org">
				<div class="col-md-1">
				</div>
				<div class="col-md-2">
					<img alt="Joseph de Chateauvieux" title="Joseph de Chateauvieux" 
						src="{{ asset('img/profile/who2.png') }}" class="member_org_img"/>
				</div>
				<div class="col-md-9">
					<h5>Jospeh de Chateauvieux</h5>
					<p class="paragraph_bio">
						Compère d’Augustin depuis le début de l’aventure de la Grande Boucle, Joseph n’a pas le même CV « Extrême » mais demeure un grand sportif sur les terrains (foot, rugby, raid) comme sur le canapé. <strong>Président du Bureau des Sports de l’EMLYON Business School pour l’année 2014,</strong> Joseph apporte depuis plus d’un an et demi son leadership et son sens de l’organisation à cet incroyable projet.  		
					</p>
				</div>
			</div>

			<div class="row member_org">
				<div class="col-md-1">
				</div>
				<div class="col-md-2">
					<img alt="Pierre-Arnaud Destremau" title="Pierre-Arnaud Destremau" 
						src="{{ asset('img/profile/who3.png') }}" class="member_org_img"/>
				</div>
				<div class="col-md-9">
					<h5>Pierre-Arnaud Destremau</h5>
					<p class="paragraph_bio">
						<strong>AKA « le cousin » :</strong> Cousin d’Augustin, Pierre-Arnaud apporte ses talents informatiques et ses compétences techniques à la Grande Boucle. Même de l’autre côté du monde, en Australie, P-A a construit le site internet et participé activement à l’élaboration des différents visuels. 
					</p>
				</div>
			</div>

			<h4 class="margin_left_10">
				Le Fidèle Lieutenant :
			</h4>

			<div class="row member_org">
				<div class="col-md-1">
				</div>
				<div class="col-md-2">
					<img alt="Claire Destobbeleer " title="Claire Destobbeleer " 
					src="{{ asset('img/profile/who4.png') }}" class="member_org_img"/>
				</div>
				<div class="col-md-9">
					<h5>Claire Destobbeleer</h5>
					<p class="paragraph_bio">
						Habituée des ballons ovales, Claire, <strong>responsable des évènements au BDS</strong>, est toujours partante pour des aventures rocambolesques. C’est tout naturellement qu’elle a très vite grossi les rangs des Paskis impliqués dans la Grande Boucle. Avec son sourire ravageur et sa bonne humeur communicative, Claire bichonne à merveille les équipes étudiantes et coordonne les inscriptions avec brio et sérénité. 
					</p>
				</div>
			</div>

			<h4 class="margin_left_10">
				Les Agents de l’Ombre :
			</h4>

			<div class="row member_org">
				<div class="col-md-1">
				</div>
				<div class="col-md-2">
					<img alt="Juliette Gritton " title="Juliette Gritton " 
					src="{{ asset('img/profile/who5.png') }}" class="member_org_img"/>
				</div>
				<div class="col-md-9">
					<h5>Juliette Gritton</h5>
					<p class="paragraph_bio">
						<strong>La créatrice.</strong> Responsable de tous les visuels au Raid Hannibal (affiches, logos, etc), elle a remis le couvert pour la Grande Boucle. Juliette a su mettre des images sur les rêves de toute l’équipe et donner une identité jeune et dynamique au projet. 
					</p>
				</div>
			</div>

			<div class="row member_org">
				<div class="col-md-1">
				</div>
				<div class="col-md-2">
					<img alt="Teddy Ribboud  " title="Teddy Ribboud  " 
					src="{{ asset('img/profile/who6.png') }}" class="member_org_img"/>
					<img alt="Domitille Colin" title="Domitille Colin" 
					src="{{ asset('img/profile/who7.png') }}" class="member_org_img"/>
				</div>
				<div class="col-md-9">
					<br/><br/><br/>
					<h5>Teddy Ribboud et Domitille Colin</h5>
					<p class="paragraph_bio">
						<strong>Les démarcheurs fous.</strong> Un événement sans goodies, même s’il est à vocation solidaire, c’est presqu’impossible dans l’imaginaire collectif étudiant. Teddy et Domitille réservent aux participants de cette 1ere édition des petites surprises qui sauront marquer le coup. 
					</p>
				</div>
			</div>

			<div class="row member_org">
				<div class="col-md-1">
				</div>
				<div class="col-md-2">
					<img alt="Tanguy Petetin  " title="Tanguy Petetin  " 
					src="{{ asset('img/profile/who8.png') }}" class="member_org_img"/>
					<img alt="Alix de Commines" title="Alix de Commines" 
					src="{{ asset('img/profile/who9.png') }}" class="member_org_img"/>
				</div>
				<div class="col-md-9">
					<br/><br/><br/>
					<h5>Tanguy Petetin et Alix de Commines</h5>
					<p class="paragraph_bio">
						<strong>Monsieur et Madame Média.</strong> Difficile de négliger les médias dans un évènement national qui repose sur l'engouement populaire pour nourrir une grande campagne de dons. Tanguy et Alix sauront dégoter les journaux, radios et télévisions qui donneront à la Grande Boucle la résonnance qu'elle mérite. 
					</p>
				</div>
			</div>
			
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTENT -->

	<!-- BEGIN rightbar -->
      {% include 'includes/rightbar.html.twig' %}
    <!-- END rightbar -->

{% endblock GBE_Presentation_body %}