{# app/Resources/views/index.html.twig #}

{# For clearer view #}
{% set route = app.request.attributes.get( '_route' ) %}

<!DOCTYPE html>

<!-- BEGIN HEAD -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      {% block title %}
        GBE
      {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!--  'css/autre_style.css'
      'css/cv_style.css'
      'css/imZoom.css'
      'css/inscription_style.css'
      'css/parcours_style.css'
      'css/bootstrap-responsive.css'
      'css/bootstrap-responsive.min.css' -->
    {% stylesheets

      'bootstrap/css/bootstrap-theme.css'
      'bootstrap/css/bootstrap-theme.min.css'
      'bootstrap/css/bootstrap.min.css'
      'bootstrap/css/bootstrap.css'
      
      'css/mobile.css'

      'css/bootstrap.css'
      'css/bootstrap.min.css'

      'css/police.css'
      'css/main_style.css'

      
      filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
    {% endstylesheets %}
        
    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}" />
    <link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}" />
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
  <body>
    
    <!-- BEGIN HEADER -->
      {% include 'includes/nav.html.twig' %}
    <!-- END HEADER -->

    <!-- BEGIN ERROR DISPLAY -->
    <div class="clearfix">
      <!-- Erreurs -->    
        {% if (app.session.flashbag.get('info')|length > 0) %}
          <div class="row center btn-info">
            {% for flashMessage in app.session.flashbag.get('info') %}
              {{ flashMessage }}
            {% endfor %}
          </div>
        {% endif %}
    </div>
    <!-- END ERROR DISPLAY -->
    
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        {% block body %}
        {% endblock body %}  
    </div>
    <!-- END CONTAINER -->

    <!-- BEGIN FOOTER -->
      {% include 'includes/footer.html.twig' %}
    <!-- END FOOTER -->

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

    {% javascripts 
      'bootstrap/js/bootstrap.js'
      'bootstrap/js/bootstrap.min.js'
      %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- END JAVASCRIPTS -->
  </body>
  <!-- END BODY -->
</html>