{# src/GBE/UserBundle/Resources/User/indexUser.html.twig #}

{% extends "GBEUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'user.titles.profile' | trans }}
{% endblock %}

{% block GBE_User_body %}

	<!-- BEGIN leftbar -->
      {% include 'includes/leftbar.html.twig' %}
    <!-- END leftbar -->

	<!-- BEGIN CONTENT -->
	<div class="col-md-8 page-content">  <!-- Must have a col-md-8 -->
		<!-- BEGIN CONTENT -->
		<div class="content">

			{% if user == app.user %}

			<div>
				<a href="{{ path('gbe_user_edit') }}" class="btn btn-perso float-right">
			    	{{ 'user.actions.edit'|trans }}
			     	<i class="fa fa-sign-in"></i>
			    </a>
			    <a href="{{ path('fos_user_change_password') }}" class="btn btn-perso float-right margin_right_10">
			    	{{ 'user.actions.changePassword'|trans }}
			     	<i class="fa fa-sign-in"></i>
			    </a>
			</div>

			<h2>
				{{ 'user.titles.profile'|trans }}
			</h2>

			{% else %}

			<h2>
				{{ 'user.titles.member'|trans }} #{{ user.id }}
			</h2>
			{% endif %}
			<hr/>

			<div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-4 right">
							<ul class="list_no_style_li">
								<li class="bold">
									{{ 'user.details.username'|trans }}
								</li>
								<li class="bold">
									{{ 'user.details.firstName'|trans }}
								</li>
								<li class="bold">
									{{ 'user.details.lastName'|trans }}
								</li>
								<li class="bold">
									{{ 'user.details.gender'|trans }}
								</li>
								<li class="bold">
									{{ 'user.details.email'|trans }}
								</li>
								<li class="bold">
									{{ 'user.details.tel'|trans }}
								</li>
								<li class="bold">
									{{ 'user.details.age'|trans }}
								</li>
								<li class="bold">
									{{ 'user.details.address'|trans }}
								</li>
								<li class="bold">
									<br/>
								</li>
								<li class="bold">
									{{ 'user.details.team'|trans }}
								</li>
							</ul>
						</div>
						<div class="col-md-8 left">
							<ul class="list_no_style_li">
								<li>
									{% if user.username|length > 0 %}
										{{ user.username }}
									{% else %}
										<br/>
									{% endif %}
								</li>
								<li>
									{% if user.firstName|length > 0 %}
										{{ user.firstName }}
									{% else %}
										<br/>
									{% endif %}
								</li>
								<li>
									{% if user.lastName|length > 0 %}
										{{ user.lastName }}
									{% else %}
										<br/>
									{% endif %}
								</li>
								<li>
									{% if user.gender|length > 0 %}
										{{ user.gender }}
									{% else %}
										<br/>
									{% endif %}
								</li>
								<li>
									{% if user.email|length > 0 %}
										<a href="mailto:{{ user.email }}">{{ user.email }}</a>
									{% else %}
										<br/>
									{% endif %}
								</li>
								<li>
									{% if user.tel|length > 0 %}
										{{ user.tel }}
									{% else %}
										<br/>
									{% endif %}
								</li>
								<li>
									{% if user.age|length > 0 %}
										{{ user.age }}
									{% else %}
										<br/>
									{% endif %}
								</li>
								<li>
									{% if user.address1|length > 0 %}
										{{ user.address1 }}
									{% else %}
										<br/>
									{% endif %}
								</li>
								<li>
									{% if user.address2|length > 0 %}
										{{ user.address2 }}
									{% else %}
										<br/>
									{% endif %}
								</li>
								<li>
									{% if user.team %}
										{{ user.team.name }}
									{% else %}
										<br/>
									{% endif %}
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					{% if user.avatar %}
						<img  src="{{ asset(user.avatar.webPath) }}"  alt="{{ user.avatar.alt }}" class="avatar_profile"/> 
					{% else %}
						<img src="{{ asset('img/profile/profil_defaut.png') }}" alt="Default" class="avatar_profile"/> 
					{% endif %}

					{% if user == app.user %}
					<div>
						<button class="btn float-right change_avatar">
							<a href="{{ path('gbe_user_editAvatar') }}" class="no_style_a">
						    	{{ 'user.actions.change'|trans }}
						     	<i class="fa fa-sign-in"></i>
							</a>
					    </button>
					</div>
					{% else %}
					<div>
						<button class="btn float-right">
						    <strong>
						    	{{ 'user.details.team'|trans }}	
						    </strong> 
						    {{ user.team.name }}
					    </button>
					</div>
					{% endif %}
				</div>
			</div>

			<br/><br/>

			<h2>------------------------</h2>

			<div class="row margin0">
			{% if user.route %}

				<h2>
					{{ 'route.titles.chosenStep'|trans }} : {{ 'route.content.step'|trans }} {{ user.route.id }}
				</h2>
				<hr/>

				<div class="single_route">
					<h3>
						{{ user.route.name }}
					</h3>

					<div class="row">
						<div class="col-md-6">
							<img src="{{ asset(user.route.url) }}" alt="{{ user.route.alt }}" class="route_img"/>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-5 right bold">
									{{ 'route.content.startCity'|trans }}
								</div>
								<div class="col-md-7 left">
									{{ user.route.startCity }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-5 right bold">
									{{ 'route.content.endCity'|trans }}
								</div>
								<div class="col-md-7 left">
									{{ user.route.endCity }}
								</div>
							</div>

							<hr/>

							<div class="row">
								<div class="col-md-5 right bold">
									{{ 'route.content.length'|trans }}
									<br/>
									{{ 'route.content.heightPos'|trans }}
									<br/>
									{{ 'route.content.heightNeg'|trans }}
								</div>
								<div class="col-md-3 left">
									{{ user.route.length }}
									<br/>
									{{ user.route.heightPos }}
									<br/>
									{{ user.route.heightNeg }}
								</div>
								<div class="col-md-4 right">
									{% if user == app.user %}
									<a href="{{ path('gbe_presentation_route') }}" class="btn btn-perso float-right">
								    	{{ 'user.actions.changeRoute'|trans }}
								     	<i class="fa fa-sign-in"></i>
								    </a>
								    {% endif %}
								</div>
							</div>
							
							<hr/>

							<div class="row">
								<div class="col-md-5 right bold">
									{{ 'route.content.startDate'|trans }}
								</div>
								<div class="col-md-7 left">
									{{ user.route.startDate|date('d M Y') }} - {{ user.route.startDate|date('h:i') }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-5 right bold">
									{{ 'route.content.endDate'|trans }}
								</div>
								<div class="col-md-7 left">
									{{ user.route.endDate|date('d M Y') }} - {{ user.route.endDate|date('h:i') }}
								</div>
							</div>
							
						</div>
					</div>
				</div>

			{% else %}

				<h2>
					{{ 'route.titles.chosenStep'|trans }} : 
				</h2>
				<hr/>

				<div class="center">
					<p>
						<br/><br/><br/><br/>
					</p>
					<p class="center">
						{{ 'route.content.noRouteYetMessage'|trans }}
					</p>
					<p>
						<br/><br/><br/><br/>
					</p>
					<a href="
    					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							{{ path('gbe_presentation_route') }}
						{% else %}
							{{ path('fos_user_registration_register') }}
						{% endif %}
						" class="btn btn-perso font18">
				    	{{ 'route.actions.join'|trans }}
				     	<i class="fa fa-sign-in"></i>
				    </a>
				</div>

			{% endif %}
			</div>

			
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTENT -->

	<!-- BEGIN rightbar -->
      {% include 'includes/rightbar.html.twig' %}
    <!-- END rightbar -->

{% endblock GBE_User_body %}