{# src/GBE/UserBundle/Resources/User/teamUser.html.twig #}

{% extends "GBEUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - 
  	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
  		{{ 'team.titles.myteam' | trans }}
  	{% else %}
  		{{ 'team.titles.team' | trans }}
  	{% endif %}
{% endblock %}

{% block GBE_User_body %}

	<!-- BEGIN leftbar -->
      {% include 'includes/leftbar.html.twig' %}
    <!-- END leftbar -->

	<!-- BEGIN CONTENT -->
	<div class="col-md-8 page-content">  <!-- Must have a col-md-8 -->
		<!-- BEGIN CONTENT -->
		<div class="content">

			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				{% if teamCurrent and teamCurrent == app.user.routes %}
					<div>
						<a href="{{ path('gbe_user_editTeamName') }}" class="btn btn-perso float-right">
					    	{{ 'team.actions.edit'|trans }}
					     	<i class="fa fa-sign-in"></i>
					    </a>
					</div>
				{% else %}
					<button onClick="
							{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
								areYouSureChange()
							{% endif %}
							" class="btn btn-perso float-right warning_btn btn_route">
						{{ 'route.actions.change'|trans }}
						<span>
							{% if members|length > 0 %}
								{% for member in members %}
									{% if member.team %}
										{% if member.firstName|length > 0 %}
											{{ member.firstName }}
											{% if member.lastName|length > 0 %}
												{{ member.lastName }}
											{% endif %}
										{% else %}
											{{ member.email }}
										{% endif %}
										<br/>
									{% endif %}
								{% endfor %}
							{% else %}
								(Vide)
							{% endif %}
						</span>
					</button>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						{% set route_change = path('gbe_user_selectRoute', {'routeId' : teamCurrent.id}) %}
					{% else %}
						{% set route_change = path('fos_user_registration_register') %}
					{% endif %}
					<script type="text/javascript">
						function areYouSureChange()
						{
							if (confirm('{{ 'route.content.areYouSureChange'|trans }}')) {
								window.location = "{{ route_change }}";
							}
						}
					</script>
				{% endif %}
			{% endif %}

			<h2>
				{{ 'team.titles.team'|trans }}
			</h2>
			<hr/>


			{% if teamCurrent %}
				<div class="center">
					<h3 class="italic">
						{% if teamCurrent.name|length > 0 %}
							{{ teamCurrent.name }}
						{% else %}
							{{ 'team.default.noName'|trans }}
						{% endif %}
					</h3>
				</div>
				<div class="row">
					{% for member in members %}
						<div class="col-md-3 center">
							<a href="{{ path('gbe_user_member', {'memberId':member.id}) }}" class="no_style_a">
								{% if member.avatar %}
									<img  src="{{ asset(member.avatar.webPath) }}"  alt="{{ member.avatar.alt }}" 
										class="avatar_team
											{% if teamCurrent.leader %}
												{% if teamCurrent.leader == member %}
													teamleader_avatar
												{% endif %}
											{% endif %}
											"/> 
								{% else %}
									<img src="{{ asset('img/profile/profil_defaut.png') }}" alt="Default" class="avatar_team
											{% if teamCurrent.leader %}
												{% if teamCurrent.leader == member %}
													teamleader_avatar
												{% endif %}
											{% endif %}
											"/> 
								{% endif %}
								<br/><br/>
								<span class="bold">
									{{ member.firstName }} <br/>
									{{ member.lastName }}
								</span> 
								<br/>
									{% if member.poste|length > 0 %}
										{% if member.poste == 'CYCLE' %}
											Cycliste principal
										{% elseif member.poste == 'EXTRA' %}
											Remplaçant
										{% elseif member.poste == 'SUPPORT' %}
											Support
										{% endif %}
									{% else %}
										<strong style="color:red;" class="btn_route">
											Poste à définir
											<span class="center">
												Clique sur "modifier" pour changer <br/>
												les détails de ton équipe
											</span>
										</strong>
									{% endif %}
								<br/>
									{{ member.age }}
							</a>
						</div>
					{% endfor %}
				</div>

				<hr/>

				<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
        		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{% if app.user.routes %}
						<div class="single_route">
							<h3>
								{{ 'route.content.step'|trans }} {{ app.user.routes.id }} : {{ app.user.routes.name }}
							</h3>

							<div class="row">
								<div class="col-md-6">
									<img src="{{ asset(app.user.routes.url) }}" alt="{{ app.user.routes.alt }}" class="route_img"/>
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-5 right bold">
											{{ 'route.content.startCity'|trans }}
										</div>
										<div class="col-md-7 left">
											{{ app.user.routes.startCity }}
										</div>
									</div>
									<div class="row">
										<div class="col-md-5 right bold">
											{{ 'route.content.endCity'|trans }}
										</div>
										<div class="col-md-7 left">
											{{ app.user.routes.endCity }}
										</div>
									</div>

									<hr/>

									<div class="row">
										<div class="col-md-5 right bold">
											{{ 'route.content.length'|trans }}
											<br/>
											{{ 'route.content.heightPos'|trans }}
											<br/>
											{{ 'route.content.heightNeg'|trans }}
										</div>
										<div class="col-md-3 left">
											{{ app.user.routes.length }}
											<br/>
											{{ app.user.routes.heightPos }}
											<br/>
											{{ app.user.routes.heightNeg }}
										</div>
										<div class="col-md-4 right">
											{% set number_participants = members|length %}

											{% if number_participants < 4 %}
												<button class="btn float-right">
													{% set missing_participants = 4 - number_participants %}
													{{ 'route.titles.missing'|trans }} {{ missing_participants }}
												</button>
											{% else %}
												<button class="btn float-right">
													{{ 'route.titles.full'|trans }}
												</button>
											{% endif %}
											<br/>
											<br/>
											<div class="float-right bold">
												{{ number_participants }} {{ 'route.titles.people'|trans }}
											</div>
										</div>
									</div>
									
									<hr/>

									<div class="row">
										<div class="col-md-5 right bold">
											{{ 'route.content.startDate'|trans }}
										</div>
										<div class="col-md-7 left">
											{{ app.user.routes.startDate|date('d M Y') }} - {{ app.user.routes.startDate|date('h:i') }}
										</div>
									</div>
									<div class="row">
										<div class="col-md-5 right bold">
											{{ 'route.content.endDate'|trans }}
										</div>
										<div class="col-md-7 left">
											{{ app.user.routes.endDate|date('d M Y') }} - {{ app.user.routes.endDate|date('h:i') }}
										</div>
									</div>
									
								</div>
							</div>
						</div>

					{% else %}

						<h2>
							{{ 'route.titles.chosenStep'|trans }} : 
						</h2>
						<hr/>

						<div class="center">
							<p>
								<br/><br/><br/><br/>
							</p>
							<p class="center">
								{{ 'route.content.noRouteYetMessage'|trans }}
							</p>
							<p>
								<br/><br/><br/><br/>
							</p>
							<a href="
		    					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
									{{ path('gbe_presentation_route') }}
								{% else %}
									{{ path('fos_user_registration_register') }}
								{% endif %}
								" class="btn btn-perso font18">
						    	{{ 'route.actions.join'|trans }}
						     	<i class="fa fa-sign-in"></i>
						    </a>
						</div>


					{% endif %}
				{% else %}
					<div class="single_route">
						<h3>
							{{ 'route.content.step'|trans }} {{ teamCurrent.id }} : {{ routeCurrent.name }}
						</h3>

						<div class="row">
							<div class="col-md-6">
								<img src="{{ asset(routeCurrent.url) }}" alt="{{ routeCurrent.alt }}" class="route_img"/>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-5 right bold">
										{{ 'route.content.startCity'|trans }}
									</div>
									<div class="col-md-7 left">
										{{ routeCurrent.startCity }}
									</div>
								</div>
								<div class="row">
									<div class="col-md-5 right bold">
										{{ 'route.content.endCity'|trans }}
									</div>
									<div class="col-md-7 left">
										{{ routeCurrent.endCity }}
									</div>
								</div>

								<hr/>

								<div class="row">
									<div class="col-md-5 right bold">
										{{ 'route.content.length'|trans }}
										<br/>
										{{ 'route.content.heightPos'|trans }}
										<br/>
										{{ 'route.content.heightNeg'|trans }}
									</div>
									<div class="col-md-3 left">
										{{ routeCurrent.length }}
										<br/>
										{{ routeCurrent.heightPos }}
										<br/>
										{{ routeCurrent.heightNeg }}
									</div>
									<div class="col-md-4 right">
										{% set number_participants = members|length %}

										{% if number_participants < 4 %}
											<button class="btn float-right">
												{% set missing_participants = 4 - number_participants %}
												{{ 'route.titles.missing'|trans }} {{ missing_participants }}
											</button>
										{% else %}
											<button class="btn float-right">
												{{ 'route.titles.full'|trans }}
											</button>
										{% endif %}
										<br/>
										<br/>
										<div class="float-right bold">
											{{ number_participants }} {{ 'route.titles.people'|trans }}
										</div>
									</div>
								</div>
								
								<hr/>

								<div class="row">
									<div class="col-md-5 right bold">
										{{ 'route.content.startDate'|trans }}
									</div>
									<div class="col-md-7 left">
										{{ routeCurrent.startDate|date('d M Y') }} - {{ routeCurrent.startDate|date('h:i') }}
									</div>
								</div>
								<div class="row">
									<div class="col-md-5 right bold">
										{{ 'route.content.endDate'|trans }}
									</div>
									<div class="col-md-7 left">
										{{ routeCurrent.endDate|date('d M Y') }} - {{ routeCurrent.endDate|date('h:i') }}
									</div>
								</div>
								
							</div>
						</div>
					</div>
				{% endif %}

			{% else %}	
				<div class="center">
					<p>
						<br/><br/><br/><br/>
					</p>
					<p class="center">
						{{ 'team.default.noTeamYetMessage'|trans }}
					</p>
					<p>
						<br/><br/><br/><br/>
					</p>
					<a href="
    					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							{{ path('gbe_presentation_route') }}
						{% else %}
							{{ path('fos_user_registration_register') }}
						{% endif %}
						" class="btn btn-perso font18">
				    	{{ 'team.actions.joinATeam'|trans }}
				     	<i class="fa fa-sign-in"></i>
				    </a>
				</div>

			{% endif %}


		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTENT -->

	<!-- BEGIN rightbar -->
      {% include 'includes/rightbar.html.twig' %}
    <!-- END rightbar -->

{% endblock GBE_User_body %}