<div class="container-fluid" style=" padding-left:0px; padding-right:0px; margin:0;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="{{ asset('img/carousel/carousel1.jpg')}}" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
              <div style="text-align:center;">
                <img src="{{ asset('img/logo/swyca.png') }}" style="width:100%;" alt="desintermediation">
                <h3 style="color:white; font-weight:500;">{{ 'welcome.sentences.marvelous_place' | trans }}</h3>
              </div>
            <!---->
          </div>
        </div>
      </div>
      <div class="item">
        <img src="{{ asset('img/carousel/carousel2.jpg')}}" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h1 style="color:white; font-weight:900;">{{ 'welcome.titles.memory' | trans }}</h1>
            <h4>{{ 'welcome.sentences.manage' | trans }}</h4>
            <!-- The following link should pull the page down to see the information on the bottom -->
            <p><a class="btn btn-success" href="#" role="button">{{ 'welcome.buttons.more' | trans }}</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="{{ asset('img/carousel/carousel3.jpg')}}" alt="Third slide">
        <div class="container">
          <div class="carousel-caption">
            <h1 style="color:white; font-weight:900;">{{ 'welcome.titles.click' | trans }}</h1>
            <h4>{{ 'welcome.sentences.access' | trans }}</h4>
            <p>
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <a href="{{ path('swyca_user_homepage')}}" id="envoyer" name="envoyer" class="btn btn-success">{{ 'welcome.buttons.account' | trans }}</a>
              {% else %}
              <a class="btn btn-success" href="{{ path('fos_user_registration_register')}}" role="button">{{ 'welcome.buttons.register_now' | trans }}</a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
  <!-- /.carousel -->
</div>