<div class="page-footer">
	<div class="page-footer-inner">
		<div class="row">
			<div class="container" id="footer">
				<ul class="footer-ul">
					<li class="footer-ul-li"><a href="{{ path ('swyca_welcome_homepage')}}">{{ 'footer.links.home' | trans }}</a></li> |
					<li class="footer-ul-li"><a href="{{ path ('swyca_user_homepage')}}">{{ 'footer.links.myProfile' | trans }}</a></li> |
					<li class="footer-ul-li"><a href="#">{{ 'footer.links.blog' | trans }}</a></li> |
					<li class="footer-ul-li"><a href="#">{{ 'footer.links.legal' | trans }}</a></li> |
					<li class="footer-ul-li"><a href="#">{{ 'footer.links.contact' | trans }}</a></li>
				</ul>
				2014 &copy; SWYCA
			</div>
		</div>
	</div>
</div>