<!-- BEGIN FOOTER -->
<div class="row">
	<div class="footer">
		<nav id="liens_footer">
			<ul class="footer-ul">
				<li class="footer-ul-li"><a href="{{ path ('gbe_presentation_homepage')}}">{{ 'footer.links.home' | trans }}</a></li> 
					<span class="separator_footer">|</span>
				<li class="footer-ul-li"><a href="{{ path ('gbe_user_homepage')}}">{{ 'footer.links.myProfile' | trans }}</a></li> 
					<span class="separator_footer">|</span>
				<li class="footer-ul-li"><a href="#">{{ 'footer.links.blog' | trans }}</a></li> 
					<span class="separator_footer">|</span>
				<li class="footer-ul-li"><a href="#">{{ 'footer.links.legal' | trans }}</a></li> 
					<span class="separator_footer">|</span>
				<li class="footer-ul-li"><a href="#">{{ 'footer.links.contact' | trans }}</a></li>
			</ul>
		</nav>
		<p id="copyright">
			2014 &copy; GBE
		</p>
	</div>
</div>
<!-- END FOOTER -->