{# Pour tout faciliter #}
{% set route = app.request.attributes.get( '_route' ) %}

<div class="col-md-2" id="menu">
  <!-- BEGIN SIDEBAR MENU -->
  <ul class="page-sidebar-menu" data-auto-scroll="false" data-auto-speed="300">
    <li class="
          {% if (route == 'gbe_presentation_homepage') %}
            active
          {% endif %}"> 
      <a href="{{ path('gbe_presentation_homepage') }}">
        <i class="fa fa-camera-retro"></i> 
        <span class="title">
          {{ 'menu.mainTitles.home' | trans }}
        </span>
        <span class="arrow"></span>
        <span class="selected"></span>
      </a> 
    </li>
    <li class="
          {% if (route == 'gbe_presentation_presentation') %}
            active
          {% endif %}"> 
      <a href="{{ path('gbe_presentation_presentation') }}"> 
        <i class="fa fa-camera-retro"></i> 
        <span class="title">
          {{ 'menu.mainTitles.presentation' | trans }}
        </span>
      </a> 
    </li>
    <li class="
          {% if (route == 'gbe_presentation_bio') %}
            active
          {% endif %}"> 
      <a href="{{ path('gbe_presentation_bio') }}"> 
        <i class="fa fa-camera-retro"></i> 
        <span class="title">
          {{ 'menu.mainTitles.whoAreWe' | trans }}
        </span>
      </a> 
    </li>
    <li class="
          {% if (route == 'gbe_presentation_route') or
              (route == 'gbe_user_selectRoute') %}
            active
          {% endif %}"> 
      <a href="{{ path('gbe_presentation_route') }}"> 
        <i class="fa fa-camera-retro"></i> 
        <span class="title">
          {{ 'menu.mainTitles.route' | trans }}
        </span>
      </a> 
    </li>
    <li class="
          {% if (route == 'gbe_presentation_calendar') %}
            active
          {% endif %}"> 
      <a href="{{ path('gbe_presentation_calendar') }}"> 
        <i class="fa fa-camera-retro"></i> 
        <span class="title">
          {{ 'menu.mainTitles.calendar' | trans }}
        </span>
      </a> 
    </li>
    <li class="
          {% if (route == 'gbe_presentation_partners') %}
            active
          {% endif %}"> 
      <a href="{{ path('gbe_presentation_partners') }}"> 
        <i class="fa fa-camera-retro"></i> 
        <span class="title">
          {{ 'menu.mainTitles.partnerships' | trans }}
        </span>
      </a> 
    </li>
    <li class="
          {% if (route == 'gbe_presentation_media') %}
            active
          {% endif %}"> 
      <a href="{{ path('gbe_presentation_media') }}"> 
        <i class="fa fa-camera-retro"></i> 
        <span class="title">
          {{ 'menu.mainTitles.media' | trans }}
        </span>
      </a> 
    </li>
    <li class="
          {% if (route == 'gbe_presentation_photos') %}
            active
          {% endif %}"> 
      <a href="{{ path('gbe_presentation_photos') }}"> 
        <i class="fa fa-camera-retro"></i> 
        <span class="title">
          {{ 'menu.mainTitles.photos' | trans }}
        </span>
      </a> 
    </li>
    <li class="
          {% if (route == 'gbe_presentation_contact') %}
            active
          {% endif %}"> 
      <a href="{{ path('gbe_presentation_contact') }}"> 
        <i class="fa fa-camera-retro"></i> 
        <span class="title">
          {{ 'menu.mainTitles.contact' | trans }}
        </span>
      </a> 
    </li>

    <!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    <hr/>

    <li class="
          {% if (route == 'gbe_user_homepage') %}
            active
          {% endif %}"> 
      <a href="{{ path('gbe_user_homepage') }}"> 
        <i class="fa fa-camera-retro"></i> 
        <span class="title">
          {{ 'menu.mainTitles.profile' | trans }}
        </span>
      </a> 
    </li>
    <li class="
          {% if (route == 'gbe_user_team') %}
            active
          {% endif %}"> 
      <a href="{{ path('gbe_user_team') }}"> 
        <i class="fa fa-camera-retro"></i> 
        <span class="title">
          {{ 'menu.mainTitles.myTeam' | trans }}
        </span>
      </a> 
    </li>

    {% endif %}

    <!--  ///// ///// ///// ///// /////  ADMIN  ///// ///// ///// ///// ///// --> 
    {% if is_granted("ROLE_ADMIN") %}
    <li class="menu_administration_li
          {% if (route == 'gbe_user_admin') %}
            active
          {% endif %}"> 
      <a href="{{ path('gbe_user_admin') }}"> 
        <i class="fa fa-camera-retro"></i> 
        <span class="title">
          {{ 'menu.mainTitles.administration' | trans }}
        </span>
      </a> 
    </li>
    {% endif %}

    <!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    <hr/>

    <li class="menu_logout_li
          {% if (route == 'fos_user_security_logout') %}
            active
          {% endif %}"> 
      <a href="{{ path('fos_user_security_logout') }}"> 
        <i class="fa fa-camera-retro"></i> 
        <span class="title">
          {{ 'menu.mainTitles.logout' | trans }}
        </span>
      </a> 
    </li>

    {% endif %}
    
  </ul>
  <!-- END SIDEBAR MENU -->
</div>
