{# For clearer view #}
{% set route = app.request.attributes.get( '_route' ) %}

<div class="">

  <!-- BEGIN HEADER INNER -->
  <div id="head" class="page-header-inner ">  <!-- row ? -->
    
    <div class="col-md-3">
      <div class="user_login">
        <!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <div class="user_box">
            <a href="{{ path('gbe_user_homepage') }}" class="nav_profile_link">

              {% if app.user.avatar %}
                <img  src="{{ asset(app.user.avatar.webPath) }}"  alt="{{ app.user.avatar.alt }}" class="nav_profile"/> 
              {% else %}
                <img src="{{ asset('img/profile/profil_defaut.png') }}" alt="Default" class="nav_profile"/> 
              {% endif %}

              <span class="user_box_name">
                {% if app.user.firstName|length > 0 and app.user.lastName|length > 0 %}
                  {{ app.user.firstName }}
                  {{ app.user.lastName }}
                {% else %}
                  {{ app.user.username }}
                {% endif %}
              </span>
            </a>
          </div>
        {% else %}
          <a href="{{ path('fos_user_security_login') }}" class="btn btn-login">
            {{ 'login.actions.login'|trans }}
            <i class="fa fa-sign-in"></i>
          </a>
          <a href="{{ path('fos_user_registration_register') }}" class="btn btn-signup">
            {{ 'login.actions.signup'|trans }}
            <i class="fa fa-sign-in"></i>
          </a>
        {% endif %}

        <!-- BEGIN LANGUAGE SELECTION DROPDOWN -->
        <div class="language_box">
          {% if (app.request.get('_route_params')) != null %}
            {% if (app.request.get('_route_params')._locale == 'fr') %}
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" title="EN" alt="EN" class="language_selection">
                  <img src="{{ asset('img/system/language_flags/en.png') }}" alt="EN" class="language_flag"/>
                </a>
            {% else %}
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"
                  title="FR" alt="FR" class="language_selection">
                  <img src="{{ asset('img/system/language_flags/fr.png') }}" alt="FR" class="language_flag"/>
                </a>
            {% endif %}
          {% else %}
            <span class="language_selection">
              <img src="{{ asset('img/system/language_flags/en.png') }}" alt="EN" class="language_flag"/>
            </span>
          {% endif %}
        </div>
        <!-- END LANGUAGE SELECTION DROPDOWN -->
      </div>
    </div>

    <!-- BEGIN TITLE -->
    <div class="col-md-6 center">
      <h1>
        {{ 'index.titles.title'|trans }}
      </h1>
    </div>
    <!-- END TITLE -->

    <div class="col-md-3 right">
      <a href="https://www.facebook.com/TourDeFranceNonStop" target="_blank">
        <img alt="FB" src="{{ asset('img/system/fb.png') }}" title="Page Facebook" class="social"/>
      </a>
      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
      <a href="http://twitter.com/share" target="_blank" rel="external">
        <img alt="Twitter" src="{{ asset('img/system/tw.png') }}" title="Nous suivre sur Twitter" class="social"/>
      </a>
    </div>

  </div>
  <!-- END HEADER INNER -->

</div>