{# Pour tout faciliter #}
{% set route = app.request.attributes.get( '_route' ) %}

<div class="col-md-2" id="rightside">

	<h3>
    {{ 'index.content.date1'|trans }}
    <br/>
    {{ 'index.content.date2'|trans }}
  </h3>

	<br/>

	<a href="{{ path('gbe_presentation_live') }}" target="_blank" class="btn btn-perso">
    	{{ 'index.actions.live'|trans }}
     	<i class="fa fa-sign-in"></i>
    </a>

    <br/><br/>

	<div>
		{{ 'index.content.rightWelcomeSentence'|trans }}
	</div>

	<br/>
	
	<a href="http://defi.enfantsdumekong.com/projects/grande-boucle-etudiante" target="_blank" class="btn btn-perso">
    	{{ 'index.actions.giveDonation'|trans }}
     	<i class="fa fa-sign-in"></i>
    </a>

    <br/><br/><br/><br/><br/><br/><br/>

      {% if (route != 'gbe_presentation_route') and
            (route != 'gbe_user_selectRoute') %}

      <a href="
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          {{ path('gbe_presentation_route') }}
        {% else %}
          {{ path('fos_user_security_login') }}
        {% endif %}
        " class="btn btn-perso participate_button">
      	{{ 'index.actions.participate'|trans }}
       	<i class="fa fa-sign-in"></i>
      </a>

      {% endif %}

    <br/><br/><br/><br/>

    <h3>
      Partenaires:
    </h3>

    <a href="http://www.solustop.com" target="_blank" class="no_style_a center">
      <img src="{{ asset('img/media/solustop.png') }}" alt="Solustop" class="media_img media_solustop"/> 
    </a>

</div>