{# Pour tout faciliter #}
{% set route = app.request.attributes.get( '_route' ) %}

<!-- BEGIN STYLE CUSTOMIZER -->
  {# include 'includes/customizer.html.twig' #}
<!-- END STYLE CUSTOMIZER -->

<div class="page-sidebar-wrapper page-sidebar-fixed">
  <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
  <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
  <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu" data-auto-scroll="false" data-auto-speed="300">
      <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
      <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler" id="toggler_action">
          <img src="{{ asset('img/sidebar_toggler_icon_grey.png') }}" alt="tog" title="Toggle Sidebar" class="toggle_icon"/>
        </div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
      </li>
      <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
      <li class="sidebar-search-wrapper hidden-xs">
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
        <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
        <form class="sidebar-search" method="POST">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." name="search_text">
            <span class="input-group-btn">
              <!-- DOC: value=" ", that is, value with space must be passed to the submit button -->
              <input class="btn submit" type="button" type="button" value=" "/>
            </span>
          </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
      </li>

      <hr/>

      <li class="start
            {% if (route == 'swyca_photo_homepage') or 
            (route == 'swyca_photo_seeAlbum') or 
            (route == 'swyca_photo_addPhotos') or
            (route == 'swyca_photo_seeSharedAlbum') or 
            (route == 'swyca_photo_shared_homepage') %} active
            {% endif %}"> 
        <a href="{% if (route == 'swyca_user_mySwyca') or
                (route == 'swyca_user_homepage') or
                (route == 'swyca_photo_homepage') or
                (route == 'swyca_video_homepage') or
                (route == 'swyca_music_homepage') or
                (route == 'swyca_note_homepage') or
                (route == 'swyca_document_homepage') or
                (route == 'swyca_safe_box_homepage') or
                (route == 'swyca_user_mygardians') or 
                (route == 'swyca_user_mygodchildren') or
                (route == 'swyca_photo_seeAlbum') or
                (route == 'swyca_photo_addPhotos') or
                (route == 'swyca_video_seeVideo') %} 
              {{ path ('swyca_photo_homepage') }} 
            {% elseif (route == 'swyca_user_mySharedSwyca') or
                (route == 'swyca_photo_shared_homepage') or
                (route == 'swyca_video_shared_homepage') or
                (route == 'swyca_music_shared_homepage') or
                (route == 'swyca_note_shared_homepage') or
                (route == 'swyca_document_shared_homepage') or
                (route == 'swyca_photo_seeSharedAlbum') or
                (route == 'swyca_video_seeSharedVideo') %} 
              {{ path ('swyca_photo_shared_homepage') }} 
            {% endif %}"> 
          <i class="fa fa-camera-retro"></i> 
          <span class="title">
            {{ 'sidebar.mainTitles.photos' | trans }}
          </span>
          <span class="arrow"></span>
          <span class="selected"></span>
        </a> 
      </li>
      <li class="
            {% if (route == 'swyca_video_homepage') or
            (route == 'swyca_video_shared_homepage') or
            (route == 'swyca_video_seeVideo') or
            (route == 'swyca_video_seeSharedVideo') %} active
            {% endif %}"> 
        <a href="{% if (route == 'swyca_user_mySwyca') or
                (route == 'swyca_user_homepage') or
                (route == 'swyca_photo_homepage') or
                (route == 'swyca_video_homepage') or
                (route == 'swyca_music_homepage') or
                (route == 'swyca_note_homepage') or
                (route == 'swyca_document_homepage') or
                (route == 'swyca_safe_box_homepage') or
                (route == 'swyca_user_mygardians') or
                (route == 'swyca_user_mygodchildren') or
                (route == 'swyca_photo_seeAlbum') or
                (route == 'swyca_photo_addPhotos') or
                (route == 'swyca_video_seeVideo') %} 
              {{ path ('swyca_video_homepage') }} 
            {% elseif (route == 'swyca_user_mySharedSwyca') or
                (route == 'swyca_photo_shared_homepage') or
                (route == 'swyca_video_shared_homepage') or
                (route == 'swyca_music_shared_homepage') or
                (route == 'swyca_note_shared_homepage') or
                (route == 'swyca_document_shared_homepage') or
                (route == 'swyca_photo_seeSharedAlbum') or
                (route == 'swyca_video_seeSharedVideo') %} 
              {{ path ('swyca_video_shared_homepage') }} 
            {% endif %}"> 
          <i class="fa fa-film"></i> 
          <span class="title">
            {{ 'sidebar.mainTitles.videos' | trans }}
          </span>
          <span class="arrow"></span>
        </a>
      </li>
      <li class="
            {% if (route == 'swyca_music_homepage') or
            (route == 'swyca_music_shared_homepage') %} active
            {% endif %}"> 
        <a href="{% if (route == 'swyca_user_mySwyca') or
                (route == 'swyca_user_homepage') or
                (route == 'swyca_photo_homepage') or
                (route == 'swyca_video_homepage') or
                (route == 'swyca_music_homepage') or
                (route == 'swyca_note_homepage') or
                (route == 'swyca_document_homepage') or
                (route == 'swyca_safe_box_homepage') or
                (route == 'swyca_user_mygardians') or
                (route == 'swyca_user_mygodchildren') or
                (route == 'swyca_photo_seeAlbum') or
                (route == 'swyca_photo_addPhotos') or
                (route == 'swyca_video_seeVideo') %} 
              {{ path ('swyca_music_homepage') }} 
            {% elseif (route == 'swyca_user_mySharedSwyca') or
                (route == 'swyca_photo_shared_homepage') or
                (route == 'swyca_video_shared_homepage') or
                (route == 'swyca_music_shared_homepage') or
                (route == 'swyca_note_shared_homepage') or
                (route == 'swyca_document_shared_homepage') or
                (route == 'swyca_photo_seeSharedAlbum') or
                (route == 'swyca_video_seeSharedVideo') %} 
              {{ path ('swyca_music_shared_homepage') }} 
            {% endif %}">
          <i class="fa fa-music"></i> 
          <span class="title">
            {{ 'sidebar.mainTitles.musics' | trans }}
          </span>
          <span class="arrow "></span>
        </a>
      </li>
      <li class="
            {% if (route == 'swyca_note_homepage') or
            (route == 'swyca_note_shared_homepage') or
            (route == 'swyca_note_seeNotebook') or
            (route == 'swyca_note_seeNote') or
            (route == 'swyca_note_editNote') %} active
            {% endif %}"> 
        <a href="{% if (route == 'swyca_user_mySwyca') or
                (route == 'swyca_user_homepage') or
                (route == 'swyca_photo_homepage') or
                (route == 'swyca_video_homepage') or
                (route == 'swyca_music_homepage') or
                (route == 'swyca_note_homepage') or
                (route == 'swyca_document_homepage') or
                (route == 'swyca_safe_box_homepage') or
                (route == 'swyca_user_mygardians') or
                (route == 'swyca_user_mygodchildren') or
                (route == 'swyca_photo_seeAlbum') or
                (route == 'swyca_photo_addPhotos') or
                (route == 'swyca_video_seeVideo') or 
                (route == 'swyca_note_seeNotebook') or
                (route == 'swyca_note_seeNote') or
                (route == 'swyca_note_editNote') %} 
              {{ path ('swyca_note_homepage') }} 
            {% elseif (route == 'swyca_user_mySharedSwyca') or
                (route == 'swyca_photo_shared_homepage') or
                (route == 'swyca_video_shared_homepage') or
                (route == 'swyca_music_shared_homepage') or
                (route == 'swyca_note_shared_homepage') or
                (route == 'swyca_document_shared_homepage') or
                (route == 'swyca_photo_seeSharedAlbum') or
                (route == 'swyca_video_seeSharedVideo') %} 
              {{ path ('swyca_note_shared_homepage') }} 
            {% endif %}"> 
          <i class="fa fa-pencil"></i> 
          <span class="title">
            {{ 'sidebar.mainTitles.notes' | trans }}
          </span>
          <span class="arrow "></span>
        </a>
      </li>
      <li class="
            {% if (route == 'swyca_document_homepage') or
            (route == 'swyca_document_shared_homepage') %} active
            {% endif %}"> 
        <a href="{% if (route == 'swyca_user_mySwyca') or
                (route == 'swyca_user_homepage') or
                (route == 'swyca_photo_homepage') or
                (route == 'swyca_video_homepage') or
                (route == 'swyca_music_homepage') or
                (route == 'swyca_note_homepage') or
                (route == 'swyca_document_homepage') or
                (route == 'swyca_safe_box_homepage') or
                (route == 'swyca_user_mygardians') or
                (route == 'swyca_user_mygodchildren') or
                (route == 'swyca_photo_seeAlbum') or
                (route == 'swyca_photo_addPhotos') or
                (route == 'swyca_video_seeVideo') or
                (route == 'swyca_note_seeNotebook') or
                (route == 'swyca_note_seeNote') or
                (route == 'swyca_note_editNote') %} 
              {{ path ('swyca_document_homepage') }} 
            {% elseif (route == 'swyca_user_mySharedSwyca') or
                (route == 'swyca_photo_shared_homepage') or
                (route == 'swyca_video_shared_homepage') or
                (route == 'swyca_music_shared_homepage') or
                (route == 'swyca_note_shared_homepage') or
                (route == 'swyca_document_shared_homepage') or
                (route == 'swyca_photo_seeSharedAlbum') or
                (route == 'swyca_video_seeSharedVideo') %} 
              {{ path ('swyca_document_shared_homepage') }} 
            {% endif %}"> 
          <i class="fa fa-book"></i> 
          <span class="title">
            {{ 'sidebar.mainTitles.documents' | trans }}
          </span>
          <span class="arrow"></span>
        </a> 
      </li>

      <hr/>

      </li>
      {% if (route == 'swyca_user_mySwyca') or
          (route == 'swyca_user_homepage') or
          (route == 'swyca_photo_homepage') or
          (route == 'swyca_video_homepage') or
          (route == 'swyca_music_homepage') or
          (route == 'swyca_note_homepage') or
          (route == 'swyca_document_homepage') or
          (route == 'swyca_safe_box_homepage') or
          (route == 'swyca_user_mygardians') or
          (route == 'swyca_user_mygodchildren') or
          (route == 'swyca_photo_seeAlbum') or
          (route == 'swyca_photo_addPhotos') or
          (route == 'swyca_video_seeVideo') or
          (route == 'swyca_note_seeNotebook') or
          (route == 'swyca_note_seeNote') or
          (route == 'swyca_note_editNote') %} 

      <li class="start
            {% if app.request.attributes.get( '_route' ) == 'swyca_safe_box_homepage' %} active
            {% endif %}"> 
        <a href="{% if (route == 'swyca_user_mySwyca') or
                (route == 'swyca_user_homepage') or
                (route == 'swyca_photo_homepage') or
                (route == 'swyca_video_homepage') or
                (route == 'swyca_music_homepage') or
                (route == 'swyca_note_homepage') or
                (route == 'swyca_document_homepage') or
                (route == 'swyca_safe_box_homepage') or
                (route == 'swyca_user_mygardians') or
                (route == 'swyca_user_mygodchildren') or
                (route == 'swyca_photo_seeAlbum') or
                (route == 'swyca_photo_addPhotos') or
                (route == 'swyca_video_seeVideo') or
                (route == 'swyca_note_seeNotebook') or
                (route == 'swyca_note_seeNote') or
                (route == 'swyca_note_editNote') %} 
              {{ path ('swyca_safe_box_homepage') }} 
            {% endif %}"> 
          <i class="fa fa-lock"></i> 
          <span class="title">
            {{ 'sidebar.mainTitles.safeBox' | trans }}
          </span>
          <span class="arrow"></span>
        </a> 
      </li>
      <li class="
            {% if app.request.attributes.get( '_route' ) == 'swyca_user_mygodchildren' %} active
            {% endif %}"> 
        <a href="{% if (route == 'swyca_user_mySwyca') or
                (route == 'swyca_user_homepage') or
                (route == 'swyca_photo_homepage') or
                (route == 'swyca_video_homepage') or
                (route == 'swyca_music_homepage') or
                (route == 'swyca_note_homepage') or
                (route == 'swyca_document_homepage') or
                (route == 'swyca_safe_box_homepage') or
                (route == 'swyca_user_mygardians') or
                (route == 'swyca_user_mygodchildren') or
                (route == 'swyca_photo_seeAlbum') or
                (route == 'swyca_photo_addPhotos') or
                (route == 'swyca_video_seeVideo') or 
                (route == 'swyca_note_seeNotebook') or
                (route == 'swyca_note_seeNote') or
                (route == 'swyca_note_editNote') %} 
              {{ path ('swyca_user_mygodchildren') }} 
            {% endif %}"> 
          <i class="fa fa-star"></i> 
          <span class="title">
            {{ 'sidebar.mainTitles.godchildren' | trans }}
          </span>
          <span class="arrow"></span>
        </a> 
      </li>
      <li class="
            {% if app.request.attributes.get( '_route' ) == 'swyca_user_mygardians' %} active
            {% endif %}"> 
        <a href="{% if (route == 'swyca_user_mySwyca') or
                (route == 'swyca_user_homepage') or
                (route == 'swyca_photo_homepage') or
                (route == 'swyca_video_homepage') or
                (route == 'swyca_music_homepage') or
                (route == 'swyca_note_homepage') or
                (route == 'swyca_document_homepage') or
                (route == 'swyca_safe_box_homepage') or
                (route == 'swyca_user_mygardians') or
                (route == 'swyca_user_mygodchildren') or
                (route == 'swyca_photo_seeAlbum') or
                (route == 'swyca_photo_addPhotos') or
                (route == 'swyca_video_seeVideo') or 
                (route == 'swyca_note_seeNotebook') or
                (route == 'swyca_note_seeNote') or
                (route == 'swyca_note_editNote') %} 
              {{ path ('swyca_user_mygardians') }} 
            {% endif %}"> 
          <i class="fa fa-star-o"></i> 
          <span class="title">
            {{ 'sidebar.mainTitles.godfathers' | trans }}
          </span>
          <span class="arrow"></span>
        </a> 
      </li>
      {% endif %}

      <hr/>

      <!-- News box -->
      <li class="news_box"> 
        <h4>{{ 'sidebar.news.news' | trans }}</h4>
        <div>
          <ol>
            <li>Fonction télécharger album</li>
            <li>Fonction télécharger playliste</li>
            <li>Layout général</li>
            <li>Thème général</li>
            <li>A détailler</li>
          </ol>
        </div>
      </li>

      <!-- 
      <li>
        <a href="javascript:;">
        <i class="fa fa-folder-open"></i>
        <span class="title">Multi Level Menu</span>
        <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="javascript:;">
            <i class="fa fa-cogs"></i> Item 1 <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                <i class="fa fa-user"></i>
                Sample Link 1 <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="#"><i class="fa fa-times"></i> Sample Link 1</a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-pencil"></i> Sample Link 1</a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-edit"></i> Sample Link 1</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li> -->

    </ul>
    <!-- END SIDEBAR MENU -->
  </div>

</div>