<div class="row" style="text-align:left;">
	<div class="col-md-1" style="text-align:right; margin-top:10px;">
		<a href="#">
			<img class="item-pres" src="{{ asset('img/system/info.png') }}" alt=""/>
		</a>
	</div>
	<div class="grey_text col-md-11">
		872 {{ 'indexUser.sentences.memoriesTotal' | trans }}<br />
		<a href="#">Paul-Armand</a>, <a href="#">Florent</a> {{ 'indexUser.words.and' | trans }} 
		<a href="#" class="tooltips" title="" data-original-title="Marc, François, Esther et Valentine">
			4 {{ 'indexUser.words.others' | trans }}
		</a> 
		{{ 'indexUser.sentences.gardiansOfInheritage' | trans }}
	</div>
</div>